:root {
    --prim: #1e201e;
    --sec: #3c3d37;
    --third: #697565;
    --four: #ecdfcc;
    --nav: rgb(12, 12, 12);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    /* min-height: 2000px; */
    background-image: url('../image/welcome-bg.jpg');
    background-size: cover;
    overflow-x: hidden;
}

/* WWelcome Page */
.wrapper-welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper-welcome .main-welcome {
    text-align: center;
    width: 35rem;
    height: 10rem;
    background-color: var(--four);
    opacity: 0.8;
    border-radius: 1rem;
}

.main-welcome h2 {
    font-size: 2rem;
    margin: 0;
    padding: 1.5rem 0 0 0;
    color: var(--prim);
}

.main-welcome p {
    font-size: 1.5rem;
    padding: 1rem 0 0 0;
    color: var(--four);
}

.main-welcome a {
    color: var(--prim);
    text-decoration: none;
}

.main-welcome a:hover {
    color: var(--third);
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .wrapper-welcome .main-welcome {
        width: 27rem;
        height: 9rem;
    }
    .main-welcome h2 {
        font-size: 1.5rem;
    }

    .main-welcome p {
        font-size: 1.2rem;
    }
}
