:root {
    --prim: #1e201e;
    --sec: #3c3d37;
    --third: #697565;
    --four: #ecdfcc;
    --nav: rgb(12, 12, 12);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    /* min-height: 2000px; */
    background-image: url('../image/welcome-bg.jpg');
    background-size: cover;
    overflow-x: hidden;
}

/* WWelcome Page */
.wrapper-welcome {
    display: flex;
    justify-content: center; 
    align-items: center;   
    text-align: center;  
    height: 100vh;           
}

.welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;      /* Memusatkan konten di dalam elemen kolom */
    
}
.welcome-page h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--four);
    
}

.welcome-page p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: var(--four);
}

.welcome-page a {
    color: var(--prim);
    text-decoration: none;
}

.welcome-page a:hover {
    color: var(--sec);
}
